@import '~antd/dist/antd.css';

:root {
  --small-text-size: 1em;
  --text-size: 1.9em;
  --body-width: 60%;
  --link-color: darkorange;
  --text-color: black;
  --background-color: whitesmoke;
  --link-color-highlight: orange;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  :root {
      --small-text-size: 1em;
      --text-size: 1.4em;
      --body-width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  :root {
    --small-text-size: 1em;
      --text-size: 1.9em;
      --body-width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  :root {
      --small-text-size: 1em;
      --text-size: 1.9em;
      --body-width: 75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  :root {
      --small-text-size: 1em;
      --text-size: 1.9em;
      --body-width: 60%;
  }
}

body { 
  background-color: var(--background-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--body-width);
}

.links {
  text-decoration: none;
  color: var(--link-color);
}

.links:hover {
  color: var(--link-color-highlight)
}

.text {
  font-size: var(--text-size);
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  text-align: center;
}

.icons {
  padding: 5px;
}

.icons:hover {
  cursor: pointer;
}

.paragraphs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.remove-top {
  padding-top: 0px;
}

.internship-list {
  list-style: none;
}

.language-container {
  font-size: var(--small-text-size);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  text-align: right;
}

.color-container {
  font-size: var(--small-text-size);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  text-align: left;
}

.face {
  cursor: pointer;
}

.footer-text {
  font-size: var(--small-text-size);
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  text-align: center;
}

.ant-col {
  background-color: var(--background-color);
}

.ant-dropdown-menu {
  box-shadow: none;
  background-color: var(--background-color);
  min-width: 0;
  text-align: right;
}

.ant-dropdown-menu-item {
  color: var(--text-color);  
}

.ant-dropdown-menu-item:hover {
  color: var(--link-color);  
}
